<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Footer fragment</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
<footer th:fragment="footer">
  2024 – EPFC / ICC – Projet Réservations
</footer>
</body>

</html>