<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Paiement Réussi</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1>Paiement Réussi</h1>
    <p>Merci pour votre achat. Votre paiement a été traité avec succès.</p>
    <a href="/shows" class="btn btn-primary">Retourner aux Spectacles</a>
</div>
<div th:if="${emailSent}">
    <p>Votre confirmation d'achat vous a été envoyée par e-mail.</p>
</div>
</body>
</html>
