<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.mx/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <title>Liste des rôles</title>
</head>
<body>
<div class="container">
  <div layout:fragment="content">
    <h1 th:text="${title}">Liste des rôles</h1>

    <ul th:unless="${#lists.isEmpty(roles)}">
      <li th:each="role : ${roles}">
        <span th:text="${role.role}">Admin</span>
        <a th:href="@{/roles/{id}(id=${role.id})}">View</a>
      </li>
    </ul>
  </div>
</div>
</body>
</html>